/* debug class */
.debug {
  border-style: dashed;
  border-width: 1px;
  border-color: red;
}

/* Usual reset */
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* use alternative box model */
div {
  box-sizing: border-box;
}

div#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

/* map stuff */
div#map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* tile stuff */
div.tile {
  display: flex;
  align-items: end;
  justify-content: center;
  border-style: solid;
  border-color: lightgreen;
  border-width: 1px;
  height: 55px;
  width: 55px;
}

/* character stuff */
img#character {
  height: min-content;
  filter: drop-shadow(0px 0px 10px yellow);
}